---
title: The Amazing API
description: The world's most amazing API with AmazingScript
baseurl: ""
url: ""
theme: jekyll-theme-minimal

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Collections
collections:
  pages:
    output: true

# Defaults
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

# Include directories that start with underscore
include:
  - _plugins

# Exclude from processing
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
